@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: green;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(104, 228, 104), rgb(22, 63, 22));
    padding: 10px;
}

body {
    background-color: rgb(200, 245, 200);
}

nav {
    text-align: left;
    padding: 3px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    padding: 5px;
    margin: auto;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.349);
    width: 1000px;
}

section#historia {
    background-color: white;
    text-align: center;
}

article > h1 {
    color: green;
    font-size: 30px;
    font-family: 'Teste', Times, serif;

}

article > h2 {
    color: green;
    background-color: rgb(189, 241, 189);
    font-family: 'Teste', Times, serif;
}

h3 {
    background-color: green;
    color: white;
}

section#lista {
    background-color: lightgreen;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
}

span {
    color: green;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}